  @{
      Layout="_LayoutLogin";
  }
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
      
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="120%" height="500px" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Welcome To Our Store.</h1>
                <p style="color: white;">Start Your Day With Best Outfit.</p>
                <form method="POST">
                        <input name="str" placeholder="Searching" style="width: 200px;height:40px" class="input-sorting-searching">
                        <select name = "Sort1" id="Sorting1" style="width: 150px; height:40px;" class="input-sorting-searching">
                            <option value = "pilihan1"selected>Ascending</option>
                            <option value = "pilihan2">Descending</option>
                        </select>
                        <select name = "Sort2" id="Sorting2" style="width: 100px;height:40px" class="input-sorting-searching">
                            <option value = "pilihan1"selected>Name</option>
                            <option value = "pilihan2">Price</option>
                        </select><br><br>
                        <input type="submit" class="btn btn-lg btn-primary" id="submit" onclick="javascript:SearchSortButton(this)">
                </form><br>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="https://images.unsplash.com/photo-1470309864661-68328b2cd0a5?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="120%" height="500px" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Welcome To Our Store.</h1>
                <p style="color: white;">Start Your Day With Best Outfit.</p><br>
                <form method="POST">
                        <input name="str" placeholder="Searching" style="width: 200px;height:40px" class="input-sorting-searching">
                        <select name = "Sort1" id="Sorting1" style="width: 150px; height:40px;" class="input-sorting-searching">
                            <option value = "pilihan1"selected>Ascending</option>
                            <option value = "pilihan2">Descending</option>
                        </select>
                        <select name = "Sort2" id="Sorting2" style="width: 100px;height:40px" class="input-sorting-searching">
                            <option value = "pilihan1"selected>Name</option>
                            <option value = "pilihan2">Price</option>
                        </select><br><br>
                        <input type="submit" class="btn btn-lg btn-primary" id="submit" onclick="javascript:SearchSortButton(this)">
                </form><br>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="https://images.unsplash.com/photo-1462392246754-28dfa2df8e6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" width="120%" height="500px" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Welcome To Our Store.</h1>
                <p style="color: white;">Start Your Day With Best Outfit.</p>
                <form method="POST">
                        <input name="str" placeholder="Searching" style="width: 200px;height:40px" class="input-sorting-searching">
                        <select name = "Sort1" id="Sorting1" style="width: 150px; height:40px;" class="input-sorting-searching">
                            <option value = "pilihan1"selected>Ascending</option>
                            <option value = "pilihan2">Descending</option>
                        </select>
                        <select name = "Sort2" id="Sorting2" style="width: 100px;height:40px" class="input-sorting-searching">
                            <option value = "pilihan1"selected>Name</option>
                            <option value = "pilihan2">Price</option>
                        </select><br><br>
                        <input type="submit" class="btn btn-lg btn-primary" id="submit" onclick="javascript:SearchSortButton(this)">
                </form><br>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
<div class="text-center">
    <ul></ul>
    <hr class="mb-4">
    <h1 class="display-4"><b>Our Favorite Outfits</b></h1>
    <p>Start Your Day With Best Outfit</p>
    <hr class="mb-4">

        @{

            var items = Model.Item;
            foreach(var item in items)
            {
                <div class="card">
                    <br>
                    <div class="image">
                        <img src=@item.image width="200px">
                    </div><br>
                    <strong class="d-inline-block mb-2 text-primary">Rate : @item.rate</strong><br>

                    <b class="card-text mb-auto">@item.title
                    </b>
                    <p>Rp. @item.price</p>
                    <a href="/Home/Detail/@item.id"><u>Details</u></a><br><br>
                    <button type="button" class="btn btn-info" onclick="location.href='/Home/Add/@item.id'">Add to Cart</button>
                    <br>
                    <br>
                </div>
            }
        }
    </ul><br><br>
    @{
    var pages = ViewBag.PerPage;
    var search = ViewBag.Search;
    var sorting1 =ViewBag.Sort1;
    var sorting2 = ViewBag.Sort2;

    @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                <input name="Search" id="PerPage" placeholder=""style="position: relative;left:30px;width:50px;">
                <input type="submit" class="btn btn-primary" style="position: relative;left:35px;" onclick="javascript: page_btn(this)">
                @if (Model.Pager.CurrentPage > 1)
                {
                        <li>
                        <a href="~/Home/IndexLogin">First</a>
                        </li>
                        <li>
                            <a href="~/Home/IndexLogin?page=@(Model.Pager.CurrentPage - 1)&PerPage=@pages&str=@search&sort1=@sorting1&sort2=@sorting2">Previous</a>
                        </li>
                }
                @for (var halaman = Model.Pager.StartPage; halaman <= Model.Pager.EndPage; halaman++)
                {
                    
                        <li class="@(halaman == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Home/IndexLogin?page=@halaman&PerPage=@pages&str=@search&sort1=@sorting1&sort2=@sorting2">@halaman</a>
                        </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                        <li>
                        <a href="~/Home/IndexLogin?page=@(Model.Pager.CurrentPage + 1)&PerPage=@pages&str=@search&sort1=@sorting1&sort2=@sorting2">Next</a>
                        </li>
                        <li>
                            <a href="~/Home/IndexLogin?page=@(Model.Pager.TotalPages)&PerPage=@pages&str=@search&sort1=@sorting1&sort2=@sorting2">Last</a>
                        </li>
                }
            </ul>
        }
    }<br><br><br>
</div>
<div>
<button id ="chat" class="open-button" onclick="openForm()">Chat</button>
<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Contact</h1>
    <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <aside class="main visible-md visible-lg">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="panel panel-default users__bar">
                        <ul id="contacts" class="list-group">

                        @foreach( var user in @ViewBag.user ) {
                            <a class="user__item contact-@user.id" onclick="openChat(this)" data-contact-id="@user.id" data-contact-name="@user.Username" value="@user.Username" id="@user.id">
                                <li class="list-group-item d-flex justify-content-between lh-condensed" style="background-color: lightgray;width:250px;">
                                  <div>
                                  <img  style="width: 30px;height:30px;" src="https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png">
                                  <span style="float: pull-left;">@user.Username</span>
                                  </div>
                                </li>
                                <br>
                            </a>
                        }
                        </ul>
                      </div>
                    </div>
                  </div>
                </aside>
              </div>
            </div>
          </div>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
</div>

<div class="chat-popup" id="myChat" style="height: 500px;">
  <form action="/action_page.php" class="form-container" style="width:400px;height:400px">
    <h3>Message</h3>
    <label type="hidden" id="receiver" value=""></label>
    <div class="container text-center">
          <div class="row">
            @{
              var idcurrentUser = @ViewBag.currentuserid;
              var nameCurrentUser = @ViewBag.CurrentUser;
            }
                          <div class="col-xs-12 col-md-9 chat__body">
                              <div class="row">
                                <div class="col-xs-12">
                                  <div id="msg" class="ex1" style="width: 250px;height:220px;float:pull-left;">
                                  </div>
                                </div>
                                <div class="chat__type__body">
                                  <div class="chat__type" style="width: 280px;">
                                    <textarea id="msg_box" placeholder="Type your message"></textarea>
                                    <button class="btn btn-primary" id="sendMessage" data-currentuser="@nameCurrentUser" data-receiver="">Send</button>
                                  </div>
                                </div>
                                <div class="chat__typing">
                                  <span id="typerDisplay"></span>
                                </div>
                              </div>
                            </div>
            </div>
          </div>
    <button type="button" class="btn cancel" onclick="closeChat()">Close</button>
    <br>
    <br>
  </form>
</div>
</div>
<script type="text/javascript">
function page_btn()
{
    var search = '@ViewBag.Search';
    var sorting1 ='@ViewBag.Sort1';
    var sorting2 = '@ViewBag.Sort2'

    var page = document.getElementById('PerPage').value;
    var path='/Home/IndexLogin?str='+search+'&sort1='+sorting1+'&sort2='+sorting2+'&PerPage='+page;
    window.location.href = path;
}
function SearchSortButton(btn)
{
    var pages = '@ViewBag.PerPage';

    var search = document.getElementById("searchInput").value;
    var sorting1= document.getElementById("Sort1").value;
    var sorting2=document.getElementById("Sort2").value;
    location.href='/Home/IndexLogin?str='+search+'&sort1='+sorting1+'&sort2='+sorting2+'&PerPage='+pages;
}
function openForm() {
  document.getElementById("myForm").style.display = "block";

}
function openChat(btn) {
  
  var data = btn.id;
  var label = document.getElementById("receiver");
  label.value=data;
  var to = document.getElementById("receiver").value;
  var from = '@ViewBag.currentuserid';
  console.log("FROM");
  console.log(data);
  console.log("HALIO");
  console.log(to);
  
    let url = '/Home/HistoryMessage?to='+to+'&from='+from;
    $.get(url, function(data, status){
            let msg = '';
            for(i=0; i<data.length; i++)
            {
              
                if(data[i].identifier == 0)
                {
                    console.log("MASUK");
                    msg = '<div class="text-right">' + data[i].m + '</div>'
                }
                else
                {
                  console.log("MASUKLAGI");
                    msg = '<div class="text-left">' + data[i].m + '</div>'
                }
                $('#msg').append(msg);
            }

        }).catch(function(err){
            console.log(err);
        });
  document.getElementById("chat").style.display = "none"
  document.getElementById("myForm").style.display = "none";
  document.getElementById("myChat").style.display = "block";

}

function closeForm() {
  document.getElementById("chat").style.display = "block";

  document.getElementById("myForm").style.display = "none";
}
function closeChat()
{
    var list = document.querySelectorAll("#msg .text-left"); 
    var listright = document.querySelectorAll("#msg .text-right"); 

              for(n=0;n<list.length;n++)
              {
                list[n].parentNode.removeChild(list[n])
              }
              for(n=0;n<listright.length;n++)
              {
                listright[n].parentNode.removeChild(listright[n])
              }
  
  document.getElementById("chat").style.display = "block";

  document.getElementById("myChat").style.display = "none";
}
</script>
@section Scripts
{
    <script>
        $(document).ready(function() {
            let connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
            connection.start().then(function() {
              console.log("START");
                let from = '@ViewBag.currentuserid';
                connection.invoke("bindConId", from).catch(err=>{
                    return console.log(err.toString());
                });

                $('#sendMessage').on('click',function(event){
                    event.preventDefault();
                    let to = document.getElementById("receiver").value;
                    let message = $('#msg_box').val();
                    console.log("DARI");
                    console.log(from);
                    console.log(to);
                    console.log(message);

                    connection.invoke("SendChatMessage", from.toString(), to.toString(), message).catch(err=>{
                        return console.error(err.toString());
                    });

                    $('#msg_box').val("");

                    let msg = '<div class="text-left">' + message + '</div>'
                    $('#msg').append(msg);
                });
            }).catch(function(err) {
                return console.error(err.toString());
            });
            connection.on("GotMessage", function(to,message){
              let touser = document.getElementById("receiver").value;
              if(to == touser.toString())
              {
                let msg = '<div class="text-right">' + message + '</div>'
                $('#msg').append(msg);
              }
                
            });

            $(window).bind('beforeunload', function(){
                connection.invoke("removeConId", from.toString()).catch(err=>{
                    return console.log(err.toString());
                })
            });
        })
    </script>
} 





